body{
   background-image:url(Sans\ titre.png) ;
   
}
img{
    width: 100px;
    height: 100px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
ul > button{
    border: solid blue;
    border-radius: 10px;
    color:white;
    background-color: blue;
    }
h1{
    border: solid blue;
    border-radius: 10px;
    color:white;
    background-color: blue;
    padding: 0 10px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
section{
    border: solid;
}
div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}
div button{
    border-radius: 10px;
    background-color: white;
    border-color: blue;
}
.time{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.time :first-of-type{
    border-radius: 10px;
    background-color: white;
    border-color: green;
}
.time :last-child{
    border-radius: 10px;
    background-color: white;
    border-color: red;
}

